<!-- Include the CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <!-- Header -->
    <h3>Image Viewer</h3>

    <!-- Navigation buttons -->
    <a href="{{ url_for('previous_image') }}" class="btn btn-primary" id="prevImage" data-url="{{ url_for('previous_image') }}">Previous</a>
    <a href="{{ url_for('next_image') }}" class="btn btn-primary" id="nextImage" data-url="{{ url_for('next_image') }}">Next</a>


    <!-- Image display -->
    <img src="{{ url_for('static', filename='images/' + image) }}" alt="Newest Image" class="img-responsive">

    <!-- Rename functionality -->
    <p>Rename</p>
    <button id="renameBtn" class="btn btn-secondary">{{ image }}</button>
    <input type="text" id="imageName" value="{{ image }}" style="display: none;">
    <button id="saveName" class="btn btn-primary" style="display: none;">Save</button>
    <button id="cancelRename" class="btn btn-danger" style="display: none;">Cancel</button>

    <!-- Tags -->
    <p>Tags</p>
    <div class="btn-group">
        <!-- Dynamically generate tags -->
        {% for tag in tags %}
        <form id="tagForm" method="post" action="{{ url_for('tag_image') }}">
            <button type="submit" name="tag" value="{{ tag }}" class="btn btn-primary">{{ tag }}</button>
        {% endfor %}
    </div>
</div>

<!-- JavaScript for functionality -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
